
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #d8cccc;
  color: #9e6060;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #9c7a7a;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: #2b0f0f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

section {
  padding: 20px;
}